<%= form_for(@funcionario) do |f| %>
  <% if @funcionario.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@funcionario.errors.count, "error") %> prohibited this funcionario from being saved:</h2>

      <ul>
      <% @funcionario.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :matricula %><br>
    <%= f.text_field :matricula %>
  </div>
  <div class="field">
    <%= f.label :nome %><br>
    <%= f.text_field :nome %>
  </div>
  <div class="field">
    <%= f.label :sexo %><br>
    <%= f.radio_button :sexo, 'M', :checked => true %> Masculino
    <%= f.radio_button :sexo, 'F' %> Feminino
  </div>
  <div class="field">
    <%= f.label :endereco %><br>
    <%= f.text_field :endereco %>
  </div>
  <div class="field">
    <%= f.label :telefone %><br>
    <%= f.text_field :telefone %>
  </div>
  <div class="field">
    <%= f.label :salario %><br>
    <%= f.text_field :salario %>
  </div>
  <div class="field">
    <%= f.label :dtadmissao %><br>
    <%= f.text_field :dtadmissao, class: 'datepicker' %>
  </div>
  <div class="actions">
    <%= f.submit 'Salvar', :class => 'btn btn-primary' %>
    <%= link_to ' Voltar', funcionarios_path ,  class: "btn btn-default " %>
  </div>
<script>
$(document).ready(function(){
  $('.datepicker').datepicker({format: 'dd-mm-yyyy'});
  $('#matricula').inputmask("9999.9.999.9999");  
});
</script>
<% end %>
