<!DOCTYPE html>
<html>
<head>
	<title>Cecilia</title>
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="col-md-12">	
				<%= render "layouts/navbar" %>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="panel-body">
					<%= yield %>	
					<p class="notice"><%= notice %></p>
					<p class="alert"><%= alert %></p>
				</div>
			</div>
		</div> <!-- row -->
	</div> <!-- container -->

</body>
</html>
